.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    text-transform: uppercase;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    -webkit-transition: all 0.3s;
    transition: top 0.3s;
    position: relative;
    border-radius: 2px;
    border: none;
    background: $effect-and-selection-color;

    @include button-font();

    &:hover {
        background: $effect-color-light;
    }

    &:active {
        top: 2px;
    }

}

.online-control__button {
    padding: 18px 0;
    min-width: 200px;
}

.button--light {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: none;
    border: 1px solid $white;

    &:active {
        top: 2px;
        border-color: $effect-and-selection-color;
    }

    &:hover {
        background: rgba(0, 0, 0, 0.5);
    }

    &:focus {
        color: $effect-and-selection-color;
        border-color: $effect-and-selection-color;
    }
}