.card-row {
    display: flex;
    justify-content: space-between;

    &__card {
        margin-right: 30px;
        padding-bottom: 60px;
        height: 100%;
        max-width: 392px;
        width: 100%;

        &:last-child {
            margin-right: 0px;
            padding-bottom: 0px;
        }

        @include for-phone-only {
            max-width: 340px;
            margin: 0;
        }

        @include for-desktop-up {
            margin: 0 15px;
        }
    }

    &__img {
        max-height: 421px;
        height: 100%;
        width: 100%;
        object-fit: cover;

        @include for-phone-only {
            max-height: 365px;
        }
    }

    &-description {
        position: relative;
        background: $white;
        padding: 25px 41px 20px 31px;
        margin: -100px 31px 0;

        @include for-phone-only {
            margin: -131px 70px 0 0;
        }

        &__title {
            margin-bottom: 13px;

            @include for-phone-only {
                font-size: 15px;
            }
        }

        &__price {
            background: $effect-and-selection-color;
            width: 228px;
            padding: 17px 0 17px;
            margin: 0 31px;
            text-transform: uppercase;
            text-align: center;

            @include Yeseva-One-regular(18px, 25px);

            &:hover {
                background: $effect-color-light;
            }

            @include for-phone-only {
                margin: 0;
                font-size: 15px;
                width: 190px;
            }
        }
    }

    &-description-list {
        margin: 0px;
        padding-left: 15px;

        &__item {

            @include FuturaBookC-regular(15px, 25px, $color-text-dark-grey);

            @include for-phone-only {
                font-size: 13px;
            }
        }
    }

    @include for-desktop-up {
        flex-wrap: wrap;
        justify-content: center;
    }
}