.complited-project {
    background: $regular-background;
    padding-bottom: 90px;

    &-row {
        display: flex;
        justify-content: space-between;

        &__slider {
            overflow: hidden;
            width: 60%;

            @include for-tablet-portrait-up {
                width: 100%;
            }
        }

        &__project-description {
            width: 40%;
            padding-left: 20px;
            padding-right: 50px;

            @include for-tablet-portrait-up {
                width: 100%;
                padding: 0;
            }
        }

        @include for-tablet-portrait-up {
            display: flex;
            flex-wrap: wrap;
        }
    }

    @include for-tablet-portrait-up {
        padding-top: 35px;
    }
}

.project-description {

    &__title {
        margin-bottom: 35px;
        position: relative;
        max-width: 150px;

        &::after {
            content: '';
            position: absolute;
            top: 55px;
            left: 150px;
            height: 1px;
            width: 92px;
            background: $effect-and-selection-color;

            @include for-tablet-portrait-up {
                display: none;
            }

        }

        @include for-tablet-portrait-up {
            margin: 0 auto 22px;
            text-align: center;
        }
    }

    &__subtitle {
        padding-bottom: 40px;

        @include FuturaBookC-regular(18px, 29px);

        @include for-tablet-portrait-up {
            max-width: 711px;
            margin: 0 auto;
            text-align: center;
            padding-bottom: 20px;
        }
    }

    &__project-parameters {
        padding-bottom: 80px;

        @include for-tablet-portrait-up {
            padding-bottom: 20px;
        }
    }
}

.project-parameters {

    &__col {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-bottom: 15px;
    }

    &__parameter {
        flex-basis: 50%;
        padding-right: 15px;
    }

    &__title {
        text-transform: uppercase;
        margin-bottom: 10px;

        @include Yeseva-One-regular(18px, 25px, $effect-and-selection-color);
    }

    &__text {

        @include FuturaBookC-regular(15px, 20px);
    }

    @include for-tablet-portrait-up {

        &__title,
        &__text {
            font-size: 14px;
            line-height: 19px;
        }
    }
}