.other-content {
    width: 100%;
    height: 300vh;
    display: flex;
    align-items: center;
}

.cta {
    background: #F66A17;
    padding: 60px 0;
    text-align: center;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;

    &-content {
        position: relative;
        z-index: 2;
    }

    &-ball {
        position: relative;
        z-index: 1;
        border-radius: 90%;
        transition: all 0.3s ease-out;
        height: 100%;
        width: 100%;

        &--first {
            transform: translateX(-50%);
            background: #db211b;
        }

        &--second {
            background: #F69333;
            transform: translateX(0%);
        }
    }
}

.move-container {
    margin: 0 5px;
    transition: all 0.7s ease-out;

    &_L {
        width: 10px;
        transition: all 0.7s ease-out;
    }
}

@mixin for-tablet-760 {
    @media (max-width: 760px) {
        @content;
    }
}

.cta-ball-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.moveEffectFirst {
    margin-left: var(--firstBall);

    @include for-tablet-760() {
        margin-left: var(--firstBall2);
    }
}

.moveEffectSecond {
    margin-right: var(--secondBall);
}