.form {
    margin: auto;

    &__title {
        text-align: center;
        max-width: 293px;
        margin: 0 auto 40px;

        @include FuturaDemiC-regular(20px, 25px);
    }

    &-input-container {
        display: flex;
        flex-flow: wrap;
        align-items: center;
        margin-bottom: 35px;
    }

    &-checkbox {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 100%;
    }
}

.form--dark {

    .form__title {
        color: $white;
    }

    background: $regular-background;
}