.header-footer {
    position: relative;
    z-index: 2;
    background: $regular-background;
}

.header-footer-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $regular-background;
    padding: 24px 82px 22px 80px;
    max-width: 1460px;
    margin: auto;

    &__contact {
        display: flex;
        align-items: center;
        margin-left: 20px;
    }

    &__button {
        padding: 13px 33px;

        @include for-desktop-up {
            padding: 13px 25px;
        }

        @include for-phone-only {
            display: none;
        }
    }

    &__link {
        flex-grow: 1;
    }


    @include for-desktop-up {
        padding-right: 30px;
    }

    @include for-tablet-portrait-up {
        padding: 23px 30px;
    }

    @include for-phone-only {
        padding: 23px 18px;
    }
}

.nav-link-container {
    display: flex;
    padding: 0;

    &__item {
        margin-right: 40px;
        list-style: none;

        &:last-child {
            margin: 0;
        }

        @media (max-width: 1300px) {
            margin-right: 15px;
            font-size: 12px;
        }

        @media (max-width: 1000px) {
            display: none;
        }
    }

}