.hero-image {
  display: flex;
  position: relative;

  &-bg {
    width: 100%;
    position: relative;

    background-image: url(../assets/images/hero-image-bg.png);
    background-size: cover;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
    }
  }

  &-content {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    min-height: calc(100vh - 97px);

    padding: 60px 60px 120px;

    &__title {
      max-width: 450px;
      margin-bottom: 20px;

      @include for-tablet-portrait-up {
        font-size: 36px;
      }

      @include for-phone-only {
        font-size: 23px;
        line-height: 31px;
      }
    }

    &__title span {
      color: $effect-and-selection-color;
    }

    &__subtitle {
      max-width: 360px;
      margin-bottom: 40px;

      @include FuturaBookC-regular(18px, 29px, );
    }

    &__button-container {

      display: flex;

      @include for-phone-only {
        display: block;
        width: 100%;
      }
    }

    &__button {
      margin-right: 20px;
      padding: 20px 0;
      width: 208px;

      @include for-phone-only {
        width: 100%;
        margin-bottom: 25px;
      }
    }

    @include for-tablet-portrait-up {
      padding: 30px 30px 120px;
    }

    @include for-phone-only {
      padding: 18px;
    }
  }
}

.aside-link {
  width: 82px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $regular-background;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vh - 97px);
    height: 82px;
    transform: rotate(-270deg);
    cursor: pointer;
    text-transform: uppercase;

    @include FuturaDemiC-regular(14px, 16px);

    &::after {
      content: '';
      position: relative;
      width: 55px;
      height: 2px;
      background-color: #e3b873;
      margin: 0 8px 2px;
      animation: go-left-right 0.7s infinite alternate;
    }

    &:active {
      text-decoration: underline;
    }

    &:hover {
      background: $color-text-grey;
    }
  }

  @include for-tablet-portrait-up {
    display: none;
  }
}

.scroll-down {
  position: absolute;
  bottom: 0;
  left: 0;
  bottom: 0px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  border: none;
  background: $regular-background;
  padding: 40px 45px;

  @include Yeseva-One-regular();

  &::after {
    content: url(../assets/images/scroll.svg);
    position: relative;
    width: 29px;
    height: 29px;
    margin-left: 12px;
    animation: go-top-bottom 1s infinite alternate;
  }

  &:hover {
    color: $effect-and-selection-color;
  }

  @include for-tablet-portrait-up {
    padding: 30px 35px;
  }

  @include for-phone-only {
    display: none;
  }

}