@mixin for-tablet-940 {
    @media (max-width: 939px) {
        @content;
    }
}

@mixin for-tablet-760 {
    @media (max-width: 760px) {
        @content;
    }
}

@mixin for-tablet-375 {
    @media (max-width: 375px) {
        @content;
    }
}

@mixin for-desktop-up-940 {
    @media (min-width: 940px) {
        @content;
    }
}

.indepth-article {

    &-hero {
        min-height: 200vh;
        position: relative;

        &__wrapper {
            position: absolute;
            top: 0px;
            left: 0px;
            display: flex;
            flex-direction: column;

            &--animation {

                .hero-header {
                    transform: translateY(0%);
                    transition: all 2.5s;
                }

                .hero-title {
                    opacity: 1;
                    transition: opacity 2.5s;
                }
            }

            &--animation2 {
                top: -100%;
            }
        }
    }
}

.hero-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E6E6E6;
    padding: 38px 44px;
    position: relative;
    transform: translateY(-100%);
    position: relative;
    z-index: 4;

    &__logo {
        position: relative;
        z-index: inherit;
        font-size: 30px;
        line-height: 20px;
        color: #F66A17;
        flex-grow: 1;

        @include for-tablet-940() {
            font-size: 22px;
        }

    }

    &__search {
        display: flex;
        align-items: center;

        @include for-tablet-940() {
            display: block;
        }
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;

        &__social {
            display: none;
        }

        @include for-tablet-940() {
            position: absolute;
            z-index: 5;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100%;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            transform: translateY(-100%);
            transition: all 1s;
            padding: 32px;
            background: white;
            overflow: hidden;

            &__social {
                display: flex;
                flex: 1;
                align-items: flex-end;
                position: static;
                padding-top: 32px;
            }

            &-social__link {
                margin-right: 30px;
            }

        }

        @include for-tablet-760() {
            padding: 20px;
        }
    }

    .mobile-menu {
        @include for-tablet-940() {
            z-index: 3;

            overflow: auto;
            transform: translateY(0);
            color: black;

            .button {
                padding: 5px 0;
                font-size: 38px;
                color: black;
                border: none;
            }
        }
    }

    .menu-icon-row {
        position: relative;
        z-index: 5;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        height: 30px;
        background: none;
        border: none;
        padding: 0px;

        &--open {
            .menu-icon {
                background: #F66A17;
                height: 0;

                &::after {
                    transform: rotate(45deg);
                    transition: top 0.3s linear, transform 0.3s ease-in 0.3s;
                    top: 0;
                }

                &::before {
                    transform: rotate(-45deg);
                    transition: top 0.3s linear, transform 0.3s ease-in 0.3s;
                    top: 0;
                }
            }
        }
    }

    .menu-icon {
        display: none;
        position: relative;
        height: 2px;
        width: 16px;
        background: #F66A17;
        transition: transform 0.2s ease-in;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: -6px;
            background: inherit;
            height: 2px;
            width: inherit;
            transition: transform 0.3s ease-in, top 0.3s linear 0.3s;
        }

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 6px;
            background: inherit;
            height: 2px;
            width: inherit;
            transition: transform 0.3s ease-in, top 0.3s linear 0.3s;
        }

        @include for-tablet-940() {
            display: block;
        }
    }

    .nav-menu {
        display: flex;

        &__item {
            list-style: none;
            margin-right: 36px;

            &:last-child {
                margin: 0;
            }

            &:hover {

                @include for-desktop-up-940() {
                    .nav-menu-list {
                        max-height: 1000px;
                        background: #FFFFFF;
                        transition: max-height 0.4s linear, background 0.5s ease-in;

                        &__item {
                            padding: 0;
                            padding-bottom: 12px;

                            &:last-child {
                                padding: 0;
                            }
                        }
                    }

                    .nav-menu-item__link {
                        &::after {
                            transform: rotate(180deg);
                        }
                    }
                }
            }

            @include for-tablet-940() {
                padding: 5px 0;
                margin-right: 0;
            }

        }

        &__list {
            position: relative;
            transition: all 2s;

            .nav-menu-item__link {
                display: flex;
                align-items: center;

                @include for-tablet-940() {
                    &:focus {
                        color: red;
                    }
                }

                &::after {
                    content: url(./../assets/images/arrow-down.svg);
                    display: block;
                    transition: all 0.25s ease-in;
                    margin-left: 12px;
                    display: flex;
                    align-items: center;

                    @include for-tablet-940() {
                        content: url(./../assets/images/arrow-down-black.svg);
                    }
                }
            }

            &--open {

                .nav-menu-item__link {
                    &::after {
                        transform: rotate(180deg);

                        @include for-tablet-940() {
                            //transform: rotate(180deg); // translateY(-15px);
                        }
                    }
                }

                .nav-menu-list {
                    display: block;
                    max-height: 1000px;
                    background: white;
                    transition: all 0.5s ease-in;

                    @include for-tablet-940() {
                        background: none;
                    }
                }

            }
        }

        &-item__link {
            color: #FFFFFF;
            text-decoration: none;
            font-size: 16px;

            @include for-tablet-940() {
                font-size: 38px;
                color: black;
            }
        }

        &-list {
            max-height: 0px;
            overflow: hidden;
            position: absolute;
            top: 20px;
            left: 0;
            width: 324px;
            padding: 20px 25px;
            transition: max-height 0.3s linear, background 0.5s ease-in;

            &__item {
                list-style: none;
                padding: 5px 0;
                color: black;

                &:first-child {
                    margin-top: 15px;
                }
            }

            @include for-tablet-940() {
                display: block;
                position: static;
                overflow: hidden;
                padding: 0;
                width: 100%;
            }
        }

        @include for-tablet-940() {
            display: block;
            padding-top: 75px;
        }
    }

    @include for-tablet-940() {
        padding: 10px 32px;
    }

    @include for-tablet-760() {
        padding: 10px 20px;
    }
}

.hero {
    min-height: 100vh;
    height: 1px;
    width: 100%;

    &-title {
        padding: 20px;
        opacity: 0;
        color: white;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    &-bg {
        position: fixed;
        position: sticky;
        height: 100vh;
        width: 100%;
        z-index: 0;
        top: 0;
        left: 0;
        overflow: hidden;

        &__video {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100vw;
            object-fit: cover;
        }

        &__poster {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;

            &--start-play {
                display: none;
            }
        }

        &__mask {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: black;
            z-index: 1;
        }

        &--animation {

            .hero-bg__mask {
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
                transition: background 2.5s;
            }
        }

        &--stiky-position {
            position: absolute;
            top: auto;
            bottom: 0;
        }
    }
}

.hero-footer {
    position: fixed;
    bottom: 0;
    height: 48px;
    display: flex;
    justify-content: center;
    z-index: 3;
    width: 100%;
    transform: translateY(100%);

    &--animation {
        transform: translateY(-32px);
        transition: all 2.5s;
    }

    &--stiky-position {
        position: absolute;
    }
}

.social {
    position: absolute;
    left: 44px;
    display: flex;

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 8px;
        border-radius: 90px;
        border: 1px solid #E6E6E6;
        height: 48px;
        width: 48px;

        &:last-child {
            margin: 0;
        }
    }

    @include for-tablet-760() {
        left: 20px;
    }
}

.button {
    border: 1px solid #E6E6E6;
    padding: 14px 16px;
    border-radius: 90px;
    background: none;
    display: flex;
    align-items: center;
    color: white;

    &--search {
        padding: 8px 10px;

        @include for-tablet-940() {
            &::before {
                content: "Search";
            }
        }
    }
}

.scroll-down-btn {
    min-height: 52px;

    @include for-tablet-760() {
        display: none;
    }
}

.chapter {
    padding: 60px 0;

    &__number,
    &__title,
    &__image,
    &__text {
        margin: auto;
        padding: 0 20px;
    }

    &__number {
        text-transform: uppercase;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
    }

    &__title {
        max-width: 855px;
        text-align: center;
        margin-bottom: 60px;
    }

    &__image {
        position: relative;
        left: 0;
        width: 100%;
        object-fit: cover;
        margin-bottom: 60px;

        @include for-tablet-760() {
            padding: 0;
        }
    }

    &__text {
        max-width: 636px;
    }

    &-footer {
        /*  position: sticky;
        bottom: 0;
        left: 0; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #F66A17;
        background: white;
        padding: 20px 45px;
        border-top: 1px solid #E6E6E6;

        &__logo {
            color: #F66A17;
        }

        @include for-tablet-760() {
            padding: 20px 20px;
        }
    }
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.chapter-menu-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 4;
    transform: translateX(100%);
    transition: all 0.6s ease-out;
    display: flex;
    justify-content: flex-end;

    &--open {
        transform: translateX(0%);
    }
}

.chapter-menu {
    height: 100%;
    width: 50%;
    background: white;
    overflow: auto;

    &__header {
        background: #FCBC7F;
        padding: 20px 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include for-tablet-940() {
            padding: 10px 35px;
        }

        @include for-tablet-760() {
            padding: 10px 32px;
        }

        @include for-tablet-375() {
            padding: 10px 20px;
        }
    }

    &__close {
        display: flex;
        align-items: center;

        &-text {
            margin-right: 15px;
        }
    }



    &-list {
        list-style: none;

        &__item {
            position: relative;
            padding: 32px 60px;
            transition: all 2s;
            display: flex;
            justify-content: space-between;


            &--active {
                background: #FCBC7F;
            }

            @include for-tablet-940() {
                padding: 0 35px;
                padding-bottom: 25px;
            }

            @include for-tablet-760() {
                padding: 0 32px;
                padding-bottom: 25px;
            }

            @include for-tablet-375() {
                padding: 0 20px;
                padding-bottom: 20px;
            }
        }

        &-item {
            &__number {
                margin-right: 15px;
            }

            &__text {
                width: 70%;
            }
        }
    }

    @include for-tablet-760() {
        width: 100%;
    }
}

