.input {
    border: none;
    border-bottom: 1px solid $color-text-grey;
    padding: 5px 0;
    flex-basis: 100%;
    outline-color: #e3b873;

    @include FuturaBookC-regular(18px, 24px, $color-text-dark);

    &::placeholder {
        color: $color-text-dark;
    }

    &--dark {
        background: $regular-background;
        border-color: $color-border;
        color: $white;

        &::placeholder {
            color: $white;
        }
    }
}

.input-label {

    @include FuturaBookC-regular(15px, 20px, $color-text-grey);

    &--dark {
        color: $color-dark-label;
    }
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.label-check-box input[type="checkbox"]:focus+.input-checkbox-mark {
    outline: $effect-and-selection-color auto 5px;
}

.input-checkbox-mark {
    position: absolute;
    top: 1px;
    left: -25px;
    height: 18px;
    width: 18px;
    background-color: $grey;

    &::after {
        content: "";
        position: absolute;
        display: none;
    }
}


.input-checkbox {
    margin-right: 9px;
}

.label-check-box {
    position: relative;
    margin-left: 25px;

    @include FuturaBookC-regular(16px, 22px, $color-text-dark);

    &--dark {
        color: $white;
    }

    input:checked~.input-checkbox-mark:after {
        display: flex;
    }

    input:checked~.input-checkbox-mark {
        background-color: $effect-and-selection-color;
    }

    .input-checkbox-mark:after {
        content: url(../assets/images/checked.svg);
        height: 18px;
        width: 18px;
        align-items: center;
        justify-content: center;
    }
}