.leave-request {
    display: flex;
    align-items: center;
    width: 100%;

    &-container {
        background-image: url(../assets/images/step-by-step-image.png);
        background-size: 100% 100%;
        flex-basis: 50%;
        display: flex;
        justify-content: flex-end;
        margin-left: -15px;

        &-step-list {
            list-style-type: none;
            max-width: 480px;
            padding: 100px 60px 0;
            margin: auto;

            &__step {
                display: flex;
                align-items: flex-start;
                position: relative;

                &:last-child {
                    .leave-request-container-step-list__step-text::before {
                        display: none;
                    }
                }
            }

            &__step-number {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40px;
                min-width: 40px;
                border-radius: 50%;
                margin-right: 17px;
                margin-bottom: 90px;
                background-color: $effect-and-selection-color;

                @include Yeseva-One-regular(18px, 25px);

            }

            &__step-text {
                padding-top: 8px;

                @include list-step();

                &::before {
                    content: '';
                    position: absolute;
                    top: 45px;
                    left: 18px;
                    height: calc(100% - 50px);
                    width: 4px;
                    background-color: $effect-and-selection-color;


                }
            }
        }

        @include for-tablet-portrait-up {
            display: none;
        }

    }

    &__form-container {
        margin-top: 120px;
        flex-basis: 640px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;

        @include for-tablet-portrait-up {
            flex-basis: 100%;
        }
    }

    &__col {
        max-width: 640px;
        width: 100%;

        @include for-tablet-portrait-up {
            max-width: 100%;
        }
    }

    .help-save {
        display: flex;
        align-items: center;
        max-width: 440px;
        margin: 40px auto 0;

        @include FuturaBookC-regular(20px, 25px, $effect-and-selection-color);

        &:hover {
            &::before {
                background-color: $effect-color-light;
                ;
            }
        }

        &:before {
            content: url(../assets/images/help-save-icon.svg);
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 72px;
            width: 72px;
            background-color: $effect-and-selection-color;
            border-radius: 90px;
            margin-right: 25px;
        }
    }

    @include for-phone-only {
        display: none;
    }

}