.logo {
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    min-width: 180px;
    display: flex;
    flex-grow: 1;

    @include logo-font();

    @include for-phone-only {
        font-size: 12px;
        min-width: 155px;
    }
}