.menu-icon-row {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 30px;
    background: rgba($color: $seal-brown, $alpha: 0);
    border: none;
    padding: 0px;

    &:hover {

        .menu-icon,
        .menu-icon::after,
        .menu-icon::before {
            background: $effect-and-selection-color;
        }
    }
}

.menu-icon {
    display: none;
    position: relative;
    height: 2px;
    width: 24px;
    background: $white;
    transition: transform 0.2s ease-in;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: -6px;
        background: $white;
        height: 2px;
        width: 24px;
        transition: transform 0.3s ease-in, top 0.3s linear 0.3s;
    }

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 6px;
        background: $white;
        height: 2px;
        width: 24px;
        transition: transform 0.3s ease-in, top 0.3s linear 0.3s;
    }

    &--open {
        background: $regular-background;
        height: 0;

        &::after {
            transform: rotate(45deg);
            transition: top 0.3s linear, transform 0.3s ease-in 0.3s;
            top: 0;
        }

        &::before {
            transform: rotate(-45deg);
            transition: top 0.3s linear, transform 0.3s ease-in 0.3s;
            top: 0;
        }
    }

    @media (max-width: 1000px) {
        display: block;
    }
}

.menu {
    display: flex;
    top: -100vh;
    justify-content: space-between;
    flex-grow: 1;

    &__nav {
        display: flex;
        align-items: center;
        padding: 10px 0;
        margin: 0;
        list-style: none;

        @media (max-width: 1000px) {
            flex-direction: column;
            align-items: normal;
            margin: 0;
        }
    }

    &__item {
        margin-right: 40px;
        list-style: none;
        display: flex;
        padding: 0;

        &:last-child {
            margin: 0;
        }

        @media (max-width: 1300px) {
            margin-right: 15px;
            font-size: 12px;
        }

        @media (max-width: 1000px) {
            margin-bottom: 15px;
            margin-right: 0;
            padding-bottom: 10px;
            max-width: 100%;
            width: 100%;
            border-bottom: 1px solid $dark-grey;

            &:last-child {
                padding-bottom: 25px;
                border-color: $effect-and-selection-color;
                border-width: 2px;
            }
        }
    }

    &--open {
        top: 0;
        background: $regular-background;
    }

    &__contact {
        display: flex;
        align-items: center;
        padding: 20px 0;

        @include for-phone-only {
            justify-content: space-between;
        }

        @media (min-width: 1000px) {
            padding: 0;
        }
    }

    &__button {
        padding: 13px 33px;
        margin: 15px 0;

        @include for-desktop-up {
            padding: 13px 25px;
        }
    }

    @media (max-width: 1000px) {
        position: absolute;
        z-index: -1;
        height: 100vh;
        width: 100%;
        overflow-y: auto;
        left: 0;
        transition: all 0.3s ease-in;
        flex-direction: column;
        padding: 90px 80px 30px;
        justify-content: flex-start;
    }

    @include for-tablet-portrait-up {
        padding: 30px;
        padding-top: 76px;
    }

    @include for-phone-only {
        padding: 15px;
        padding-top: 76px;
    }
}

.link {
    text-decoration: none;
    text-transform: uppercase;

    @include link-font();

    &:hover {
        color: $effect-and-selection-color;
    }

    &:active {
        text-decoration: underline;
    }
}

.tel-link {
    text-transform: uppercase;
    white-space: nowrap;
    margin-right: 45px;

    @include link-font($effect-and-selection-color);

    &:hover {
        color: red;
    }

    @media (max-width: 1300px) {
        margin-right: 20px;
        font-size: 12px;
    }

    @include for-phone-only {
        margin-right: 0px;
        color: $white;
    }
}