.online-control {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background: $regular-background;
        width: 100%;
        height: 425px;
        z-index: -1;

        @include for-tablet-portrait-up {
            height: 265px;
        }
    }

    &__button {
        font-size: 15px;

        @include for-phone-only {
            width: 100%;
        }
    }

    @include for-phone-only {
        background: $regular-background;

    }
}

.online-control-row {

    &__title {
        color: $white;
    }

    &-video {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 60px;
        width: 814px;
        height: 414px;

        &__icon {
            position: absolute;
            top: calc(50% - 72px);
            left: calc(50% - 72px);
            margin: auto;
            display: flex;
            z-index: 1;
            cursor: pointer;

            &:active {
                height: 140px;

                @include for-phone-only {
                    height: 70px;
                    top: calc(50% - 35px);
                    left: calc(50% - 35px);
                }
            }

            @include for-phone-only {
                height: 80px;
                top: calc(50% - 40px);
                left: calc(50% - 40px);
            }
        }

        &__iframe {
            height: 100%;
            width: 100%;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8);
        }

        &::before {
            content: "";
            background: url(../assets/images/video-frame-bg.png);
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &--play {
            .online-control-row-video__icon {
                display: none;
            }

            &::after,
            &::before {
                display: none;
            }
        }

        @include for-tablet-portrait-up {
            width: 560px;
            height: 315px;
            margin: 0 auto 30px;
        }

        @include for-phone-only {
            width: 100%;
            height: 207px;
        }
    }

    &__description {
        max-width: 681px;
        text-align: center;
        line-height: 34px;
        margin: 0 auto 90px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        &::before {
            content: '';
            width: 55px;
            height: 2px;
            background-color: #e3b873;
            margin: 0 0 35px;

            @include for-tablet-portrait-up {
                margin: 0 0 20px;
            }
        }


        @include for-tablet-portrait-up {
            margin: 0 auto 60px;
        }

        @include for-phone-only {
            color: $white;
        }
    }

    &__form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 769px;
        width: 100%;

        &-input-container {
            width: 231px;

            @include for-tablet-portrait-up {
                width: 170px;
            }

            @include for-phone-only {
                width: 100%;

                .input-label {
                    color: $color-dark-label;
                }

                input {
                    background: $regular-background;
                    border-color: $color-border;
                    color: $white;

                    &::placeholder {
                        color: $white;
                    }
                }
            }
        }

        &-button-container {
            @include for-phone-only {
                width: calc(100% - 30px);
                position: absolute;
                left: 15px;
                margin: 0;
                bottom: -25px;
            }
        }

        @include for-phone-only {
            .form-checkbox {
                justify-content: flex-start;
                margin-bottom: 85px;

                .label-check-box {
                    color: $white
                }
            }
        }
    }

    @include for-phone-only {
        margin-bottom: 25px;
    }
}