.pop-up-leave-request {

    position: relative;
    width: 340px;
    z-index: 3;


    @include for-phone-only {
        width: 100%;
    }

    &__form {
        padding: 40px 20px 30px;

        .form-input-container:last-child {
            margin: 0;
        }
    }

    &__title {
        @include Yeseva-One-regular(15px, 25px);
    }

    &__label-check-box {
        margin-top: 16px;
    }

    &__button {
        width: 100%;
        border-radius: 0;
        padding: 18px 0;
    }
}

.close-pop-up {
    position: absolute;
    top: 10px;
    right: 9px;
    border: none;
    height: 20px;
    width: 20px;
    display: flex;
    background: url(../assets/images/close-pop-up-icon.svg) no-repeat;
    background-size: contain;
}

.outside-pop-up {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: -100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    background: none;
    transition: background 0.5s ease-in, top 0.5s ease-in 0.5s;

    &--open {
        background: rgba($color: $seal-brown, $alpha: 0.7);
        transition: all 0.5s ease-in, background 0.5s ease-in 0.5s;
        top: 0;
    }
}