.slide-indicator-row {
    display: flex;
    width: 60%;
    padding: 65px 0 45px;
    margin-left: auto;

    &__item {
        margin-right: 60px;
        cursor: pointer;
        text-transform: uppercase;

        @include Yeseva-One-regular(14px, 19px, $color-dark-label);

        &:last-child {
            margin-right: 0px;
        }

        &--activ {
            color: $effect-and-selection-color;
            padding-bottom: 5px;
            border-bottom: 1px solid $effect-and-selection-color;
        }
    }

    @include for-tablet-portrait-up {
        display: none;
    }
}

.swiper-button-secondary {
    position: absolute;
    top: calc(50% - 8px);
    border-radius: 50%;
    background: $effect-and-selection-color;
    padding: 15px;
    height: 16px;
    width: 16px;
    box-sizing: initial;

    &-next {
        right: 15px;
    }

    &-prev {
        display: none;
        left: 15px;
        transform: rotate(180deg);

        @include for-tablet-portrait-up {
            display: flex;
        }
    }
}

.swiper-slide-item {
    height: 482px;
    width: 100%;
    object-fit: cover;

    @include for-phone-only {
        height: 240px;
        width: 100%;
        object-fit: cover;
    }
}

.swiper-main-container {
    overflow: hidden;
    position: relative;
}

.swiper-button-prev-main,
.swiper-button-next-main {
    position: relative;
    width: 40px;
    height: 13px;
    margin: 0;
    top: auto;
    left: 0;
}

.swiper-button-prev-main {
    transform: rotate(180deg);
    margin-right: 30px;
}

.swiper-button-next-main {
    margin-left: 30px;
}

.swiper-control {
    display: flex;
    align-items: center;
    margin-top: -23px;
    padding-left: 20px;

    @include for-tablet-portrait-up {
        display: none;
    }
}

.swiper-pagination--main {
    position: relative;

    .swiper-pagination-bullet {
        position: relative;
        background: $white;
        width: 10px;
        height: 10px;
        margin-right: 18px;

        &:last-child {
            margin-right: 0px;
        }

        &-active {
            background: $white;
        }
    }
}