@mixin for-tablet-940 {
    @media (max-width: 939px) {
        @content;
    }
}

@mixin for-tablet-760 {
    @media (max-width: 760px) {
        @content;
    }
}

@mixin for-tablet-375 {
    @media (max-width: 375px) {
        @content;
    }
}

.time-line {
    background: $white;
    padding: 25px;
    overflow-x: hidden;
    position: relative;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
        border-top: 1px solid black;
    }
}

.swiper-wrapper {
    min-width: 100%;
}

.swiper-container {
    min-width: 100%;
}

.swiper-slide {
    transition: all 1s;
    padding: 0 10px;
    border-left: slategray solid 1px;
    height: auto;

    &-active {
        width: 50% !important;

        .image-container {
            height: 50vh;
            width: 100%;

            &__img {
                height: 50vh;
                width: 100%;
            }
        }

        .slider-content {
            &__year {
                color: black;
            }

            &__title,
            &__text {
                opacity: 1;
            }

            * {
                transition: opacity 0.5s linear 0.5s;
            }
        }

        @include for-tablet-940 {
            width: 90% !important;
        }
    }

    &-prev {
        opacity: 0;

        .image-container {

            &__img {
                height: 100%;
                width: 100%;
            }
        }
    }

    @include for-tablet-940 {
        border: none;
        padding: 0;
        padding-right: 15px;
        opacity: 1;
    }
}

.image-container {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    &__img {
        transition: all 1s;
        height: 187px;
        width: 100%;

        @include for-tablet-940 {
            height: 100%;
        }
    }
}

.slider-content {
    width: 46vw;

    &__year {
        display: flex;
        margin: 15px 0;
        opacity: 1;
        color: grey;
    }

    &__title,
    &__text {
        opacity: 0;
        color: black;
        text-align: left;

        @include for-tablet-940 {
            opacity: 1;
        }
    }

    @include for-tablet-940 {
        width: 100%;
    }
}

.pagination {
    display: flex;

    &__item {
        padding: 0 17px;
        border-left: grey solid 1px;
        transition: all 1s;
        color: grey;

        &--active {
            color: black;
            margin-right: calc(50% - 67px);
        }
    }

    @include for-tablet-940 {
        display: none;
    }
}

.stub-slide {
    border: none;
}