.type-repair-row {
    padding-top: 120px;
    padding-bottom: 20px;

    &__form {
        width: 504px;
        padding: 27px 50px;
    }

    &__input-container {
        width: 100%;
        margin-bottom: 49px;

        &:last-child {
            margin-bottom: 0px;
            justify-content: flex-end;
        }
    }

    &__label-check-box {
        margin-top: 16px;
    }

    &__button {
        border-radius: 0px;
        font-size: 13px;
        min-width: 213px;
        padding: 19px 0;
    }

    &__input {
        font-family: 'FuturaMediumC', sans-serif;
    }

    &__leave-request {
        padding-bottom: 140px;
    }

    @include for-tablet-portrait-up {
        padding-top: 85px;
    }
}