.we-realize {
    background: linear-gradient(120.96deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
    position: relative;
    margin: 120px 0;

    @include for-phone-only {
        background: none;
    }

    &-row {
        display: flex;

        &__content {
            width: 40%;

            @include for-phone-only {
                width: 100%;
            }
        }

        &__gallary {
            width: 60%;
            max-height: 864px;
            display: none;

            &--active {
                display: flex;
                animation: opacity 2s;
            }

            @include for-tablet-portrait-up {
                width: 50%;
            }

            @include for-phone-only {
                display: none;
            }
        }

    }

    &__control {
        display: none;
        position: absolute;
        top: calc(50% - 18px);
        z-index: 1;
        background: $effect-and-selection-color;
        border: none;
        height: 36px;
        width: 36px;
        border-radius: 90px;
        margin: auto;

        .control-icon {
            height: 10px;
        }

        &--right {
            right: 14px;
        }

        &--left {
            left: 14px;

            .control-icon {
                transform: rotate(180deg);
            }
        }

        &::after {
            content: none;
        }

        @include for-phone-only {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.tabs-container {
    padding: 0;

    &__tabs {
        list-style: none;
        margin: 0;
        margin-bottom: 15px;
    }

    &__button {
        border: none;
        background: none;
        padding: 0;
        margin-right: 15px;
        text-align: start;

        @include ProximaNova();

        &:hover {
            color: $effect-and-selection-color;
            cursor: pointer;
            border-bottom: 1px solid $effect-and-selection-color;
        }

        &--active {
            color: $effect-and-selection-color;
            border-bottom: 1px solid $effect-and-selection-color;
        }
    }

    @include for-phone-only {
        display: none;
    }
}

.content {
    margin: auto;
    padding-top: 40px;

    &__title {
        max-width: 325px;
        width: 100%;
        margin-bottom: 40px;
        line-height: 37px;
        font-style: normal;
        font-weight: normal;

        @include for-tablet-portrait-up {}

        @include for-phone-only {
            max-width: 270px;
            margin: auto;
            margin-bottom: 25px;
            text-align: center;
        }
    }
}

.gallary {

    &__col {
        position: relative;
        max-height: 940px;
        height: 100%;
        margin-right: 40px;
        max-width: 354px;
        width: 100%;

        &--first {
            top: -40px;

            @include for-tablet-portrait-up {
                margin: 0;
            }
        }

        &--second {
            top: -120px;

            @include for-tablet-portrait-up {
                display: none;
            }
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__img {
        max-width: 354px;
        width: 100%;
        object-fit: cover;
        animation-name: opacity 0.7s alternate;
        margin-bottom: 40px;

        &:last-child {
            margin-bottom: 0;
            height: 350px;
        }

        &--small {
            max-height: 350px;
            height: 100%;
        }

        &--big {
            min-height: 557px;
            max-height: 624px;
        }
    }
}

.swiper-tabs-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;

    @include for-phone-only {
        padding: 15px 0;
        position: relative;
        z-index: 0;
        height: 320px;
        width: 100%;
        margin: auto;
    }
}