@keyframes go-top-bottom {
    from {
        top: 5px;
    }

    to {
        top: -5px;
    }
}

@keyframes go-left-right {
    from {
        left: 3px;
    }

    to {
        left: -3px;
    }
}

@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes opacity2 {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}