@mixin Yeseva-One-regular($font-size: 12px, $line-height: 19px, $color: $white, ) {
    font-family: "Yeseva One", sans-serif;
    font-size: $font-size;
    color: $color;
    line-height: $line-height;
}


@mixin FuturaBookC-regular($font-size: 12px, $line-height: 24px, $color: $white, ) {
    font-family: "FuturaBookC", sans-serif;
    font-size: $font-size;
    color: $color;
    line-height: $line-height;
}

@mixin FuturaDemiC-regular($font-size: 12px, $line-height: 24px, $color: $effect-and-selection-color, ) {
    font-family: "FuturaDemiC", sans-serif;
    font-size: $font-size;
    color: $color;
    line-height: $line-height;
}

@mixin link-font($color: $white) {
    font-family: "FuturaBookC", sans-serif;
    font-size: 14px;
    line-height: 1.14;
    color: $color;
}

@mixin logo-font() {
    font-family: "FuturaDemiC", sans-serif;
    font-size: 14px;
    line-height: 1.14;
    color: $effect-and-selection-color;
}

@mixin button-font() {
    font-family: "FuturaDemiC", sans-serif;
    font-size: 13px;
    line-height: 1.15;
    color: $white;
}

@mixin list-step {
    font-family: 'FuturaMediumC';
    font-size: 18px;
    line-height: 1.16;
    color: $color-text-dark;
}

@mixin ProximaNova {
    font-family: "ProximaNova";
    font-size: 20px;
    line-height: 34px;
    color: $white;
}


@mixin for-phone-only {
    @media (max-width: 600px) {
        @content;
    }
}

@mixin for-tablet-portrait-up {
    @media (max-width: 900px) {
        @content;
    }
}

@mixin for-desktop-up {
    @media (max-width: 1200px) {
        @content;
    }
}