$white: #fff;
$brown: #e3b873;
$brown-light: #fed18b;
$seal-brown: #131313;
$dark-grey: #363636;
$grey: #ccc;
$spanish-gray: #959595;

$regular-background: $seal-brown;
$effect-and-selection-color: $brown;
$effect-color-light: $brown-light;
$color-text-dark: $dark-grey;
$color-text-grey: rgba(54, 54, 54, 0.5);
$color-text-dark-grey: $spanish-gray;
$color-border: rgba(255, 255, 255, 0.15);
$color-dark-label: rgba(255, 255, 255, 0.5);