@font-face {
    font-family: 'Yeseva One';
    src: url('../assets/fonts/YesevaOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'FuturaBookC';
    src: url('../assets/fonts/FuturaBookC.ttf') format('truetype');
    src: url('../assets/fonts/FuturaBookC.woff') format('truetype');
}

@font-face {
    font-family: 'FuturaDemiC';
    src: url('../assets/fonts/FuturaDemiC.ttf') format('truetype');
    src: url("../assets/fonts/FuturaDemiC.woff") format("truetype");
}

@font-face {
    font-family: 'FuturaMediumC';
    src: url('../assets/fonts/FuturaMediumC.ttf') format('truetype');
    src: url('../assets/fonts/FuturaMediumC.woff') format('truetype');
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../assets/fonts/ProximaNovaT-Thin.ttf') format('truetype');
    src: url('../assets/fonts/ProximaNovaT-Thin.woff') format('truetype');
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: normal;
}

h1 {
    font-size: 40px;
    line-height: 1.325;
    color: $white;
    text-transform: uppercase;
}

h2 {
    font-size: 27px;
    line-height: 1.37;
    letter-spacing: -0.07em;
    color: #E3B873;
    text-transform: uppercase;

    @include for-tablet-portrait-up {
        font-size: 22px;
        line-height: 1.36;
    }
}

h3 {
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

h4 {
    font-size: 18px;
    line-height: 1.38;
    color: $color-text-dark;
}

p {
    font-family: "FuturaBookC";
    font-size: 20px;
    line-height: 1.7;
    margin: 0;

    @include for-phone-only {
        font-size: 14px;
    }
}