.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
}

.section {
    padding: 0 15px;
}

.section-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 40px;

    &__title {
        flex-basis: 100%;
        color: $color-text-dark;
        margin-bottom: 10px;
    }

    &__icon {
        display: flex;
        align-items: center;

        &:before,
        &:after {
            content: '';
            width: 32px;
            height: 2px;
            background-color: #e3b873;
            margin: 0 10px;
        }
    }
}

*,
*::after,
::before {
    box-sizing: border-box;
}

nav,
ul,
li {
    margin: 0;
    padding: 0;
}